.clients__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: $title-text-color;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
.clients__list {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: $card-sed-gap;
  @media screen and (min-width: 480px) {
    & > li {
      flex-basis: calc(((100% - 30px) * 1) / 2);
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    & > li {
      flex-basis: 226px;
    }
  }

  @media screen and (min-width: 1200px) {
    & > li {
      flex-basis: 170px;
    }
  }
}
.clients__link {
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-social-link;
  border-radius: 4px;
  border: 1px solid $color-social-link;

  transition: color $animation, border-color $animation;
  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
  }
}

.clients__icon {
  fill: currentColor;
}
