.btn {
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: block;
  padding: 6px 22px;
  background-color: $primery-background-color-section;
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
  transition: color $animation, background-color $animation, box-shadow $animation;
  margin-bottom: 0;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primery-bgc-color;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
      0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}

.buttons-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  gap: $card-sed-gap;
}
.portfolio-list > .portfolio-item {
  flex-basis: calc((100%- #{$card-sed-gap}) * (#{$items}-1)) / (#{$items});

  display: block;
}

.portfolio-link {
  display: block;
  transition: box-shadow $animation;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .portfolio-overlay,
  &:focus .portfolio-overlay {
    transform: translateY(0);
  }
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio-headline {
  margin-bottom: 4px;
  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-item .text {
  color: $primery-text-color;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;

  background: $background-color-overlay-portfolio;

  backdrop-filter: blur(3px);

  transform: translateY(100%);

  transition: transform $animation;

  &-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $primery-bgc-color;
    text-align: center;
  }
}
