.team {
  background-color: $primery-background-color-section;
}

.team__title {
  margin-bottom: 50px;
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__list {
  display: flex;
  gap: $card-sed-gap;
}

.team__card {
  padding: 30px 0;
  text-align: center;
  background: $primery-bgc-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card-title {
  margin-bottom: 10px;
  color: $primery-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__card-text {
  color: $primery-text-color;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team__socials-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.team__socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $color-social-link;

  transition: color $animation, background-color $animation;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primery-bgc-color;
  }
}

.team__socials-icon {
  fill: currentColor;
}
