.work {
  padding-top: 0;
}

.work__title {
  margin-bottom: 50px;
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
}

.work__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);

  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto';
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primery-bgc-color;
}
