body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background-color: $primery-bgc-color;
  color: $primery-text-color;
  letter-spacing: 0.03em;
}

address {
  font-style: normal;
}

.link,
.adress-link {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}
