$primery-text-color: #757575;
$accent-color: #2196f3;
$title-text-color: #212121;
$primery-bgc-color: #ffffff;
$primery-background-color-section: #f5f4fa;
$color-footer-header: #2f303a;
$background-color-btn: #188ce8;
$card-sed-gap: 30px;
$items: 3;
$color-social-link: #afb1b8;
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$background-color-overlay-portfolio: rgba(33, 150, 243, 0.9);
$btn--box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
